
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Device Automation</title>


  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"/>
  
  <!-- Main site styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- Table styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
  
</head>

<body>

  <!--Sidebar-->
  <aside class="sidebar">
  <div class="logo">Device <span>Automation</span></div>

  <div>
    <div class="menu-label">Session</div>
    <div class="menu">
      <a href="/">
        <div class="menu-item">
        Connect via SSH
        </div>
      </a>
    </div>
  </div>

  <div>
    <div class="menu-label">Tasks</div>
    <div class="menu">

      <a href="/hostname">
        <div class="menu-item">
          Hostname
        </div>
      </a>

      <a href="/runningConfig">
        <div class="menu-item">Save Run-Config</div>
      </a>
      
      <a href="/startupConfig">
        <div class="menu-item">Save Start-Config</div>
      </a>
      
      <a href="/compareConfigs">
        <div class="menu-item">Startup vs Run Config</div>
      </a>
      
      <a href="/ciscoHardening">
        <div class="menu-item">Cisco Harden vs Run-Config</div>
      </a>

      <a href="/loopback">
        <div class="menu-item">Loopback</div>
      </a>

      <a href="/interface">
        <div class="menu-item">Interface Configuration</div>
      </a>

       <a href="/routeProtocols">
        <div class="menu-item">Routing Protocols</div>
      </a>


      <a href="/ACL">
        <div class="menu-item active">ACLs</div>
      </a>

    </div>
  </div>

</aside>

<!--Main Content-->
<main class="content">
  <div class="content-header">
    <div>
      <h2>Configure ACL</h2>
      <p>Configure Access Control Lists accross all devices</p>
    </div>
  </div>

   <form class="form-panel" autocomplete="off">
    <div class="devices-wrapper">

      <!--ACL Type Option-->
      <section class="device-card primary">
        <div class="device-header">
          <div class="device-title">ACL Type</div>
        </div>
        <div class="field-row">
          <div class="field">
    
            <select class="select" name="acl_id" id="acl_id">
                <option value="">Select a Device</option>
                <hr />

                <option value="Standard">Standard</option>
                <option value="Extended">Extended</option>
            </select>

          </div>
        </div>
      </section>
    
      <!--Standard ACL-->

      <section class="device-card primary" id="acl_st" style="display: none;">
        <div class="device-header">
          <div class="device-title">ACL Standard</div>
        </div>
        <div class="line"></div>

         <!--Deny Rule segment-->
        <div class="device-title" style="font-size: 0.8rem; padding: 1rem 0 0.8rem 0;">Deny Rule</div>
        <div class="field-row">

          <div class="field">
            <label for="st-deny-no">ACL Number</label>
            <input id="st-deny-no" type="text" placeholder="10">
          </div>

          <div class="field">
            <label for="st-deny">Deny</label>
            <input id="st-deny" type="text" placeholder="deny">
          </div>
        </div>

        <div class="field">
          <label for="st-deny-source">Source</label>
          <input id="st-deny-source" type="text" placeholder="any  or  host 192.168.1.40  or  192.168.1.0 0.0.0.255 ">
        </div>

        <!--Permit Rule segment-->
        <div class="device-title" style="font-size: 0.8rem; padding: 1rem 0 0.8rem 0;">Permit Rule</div>
        <div class="field-row">

          <div class="field">
            <label for="st-permit-no">ACL Number</label>
            <input id="st-permit-no" type="text" placeholder="10">
          </div>

          <div class="field">
            <label for="st-permit">Permit</label>
            <input id="st-permit" type="text" placeholder="permit">
          </div>
        </div>

        <div class="field">
          <label for="st-permit-source">Source</label>
          <input id="st-permit-source" type="text" placeholder="any  or  host 192.168.1.40  or  192.168.1.0 0.0.0.255 ">
        </div>
      </section>



      <!--Extended ACL-->

      <section class="device-card primary" id="ext_acl" style="display: none;">
        <div class="device-header">
          <div class="device-title">ACL Extended</div>
        </div>
        <div class="line"></div>

          <!--Deny Rule segment-->
        <div class="device-title" style="font-size: 0.8rem; padding: 1rem 0 0.8rem 0;">Deny Rule</div>
        <div class="field-row">

          <div class="field">
            <label for="ex-deny-no">ACL Number</label>
            <input id="ex-deny-no" type="text" placeholder="101">
          </div>

          <div class="field">
            <label for="ex-deny">Deny</label>
            <input id="ex-deny" type="text" placeholder="deny">
          </div>
        </div>

        <div class="field-row">
          <div class="field">
            <label for="ex-deny-prot">Protocol</label>
            <input id="ex-deny-prot" type="text" placeholder="tcp or icmp">
          </div>

          <div class="field">
            <label for="ex-deny-port">Port</label>
            <input id="ex-deny-port" type="text" placeholder="any  or  80">
          </div>
        </div>

        <div class="field">
          <label for="ex-deny-source">Source</label>
          <input id="ex-deny-source" type="text" placeholder="any  or  host 192.168.1.40  or  192.168.1.0 0.0.0.255 ">
        </div>

        <div class="field">
          <label for="ex-deny-dest">Destination</label>
          <input id="ex-deny-dest" type="text" placeholder="any  or  host 192.168.1.40  or  192.168.1.0 0.0.0.255 ">
        </div>
      

        <!--Permit Rule segment-->
        <div class="device-title" style="font-size: 0.8rem; padding: 1rem 0 0.8rem 0;">Permit Rule</div>
        <div class="field-row">

          <div class="field">
            <label for="ex-permit-no">ACL Number</label>
            <input id="ex-permit-no" type="text" placeholder="101">
          </div>

          <div class="field">
            <label for="ex-permit">Permit</label>
            <input id="ex-permit" type="text" placeholder="permit">
          </div>
        </div>

        <div class="field-row">
          <div class="field">
            <label for="ex-permit-prot">Protocol</label>
            <input id="ex-permit-prot" type="text" placeholder="tcp or icmp">
          </div>

          <div class="field">
            <label for="ex-permit-port">Port</label>
            <input id="ex-permit-port" type="text" placeholder="any  or  80">
          </div>
        </div>

        <div class="field">
          <label for="ex-permit-source">Source</label>
          <input id="ex-permit-source" type="text" placeholder="any  or  host 192.168.1.40  or  192.168.1.0 0.0.0.255 ">
        </div>

        <div class="field">
          <label for="ex-permit-dest">Destination</label>
          <input id="ex-permit-dest" type="text" placeholder="any  or  host 192.168.1.40  or  192.168.1.0 0.0.0.255 ">
        </div>
      
      </section>

      <!--Direction Block (Inbound or Outbound)-->
      <section class="device-card primary" style="margin-top: 1rem;">
        <div class="device-header">
          <div class="device-title">ACL Direction</div>
        </div>
        <div class="field-row">
          <div class="field">
    
            <select class="select" name="dir_id" id="dir_id">
                <option value="">Select a Device</option>
                <hr />

                <option value="in">in</option>
                <option value="out">out</option>
            </select>

          </div>
        </div>
      </section>


      <!--Inbound Segment-->
      <section class="device-card primary" id="dir_in" style="display: none;">
        <div class="device-header">
          <div class="device-title">Inbound</div>
        </div>
        <div class="field-row">
          <div class="field">
            <label for="in_int">Interface</label>
            <input id="in_int" type="text" placeholder="FastEthernet2/0">
          </div>

          <div class="field">
            <label for="in_group">ACL Group</label>
            <input id="in_group" type="text" placeholder="10">
          </div>

        </div>
      </section>


       <!--Outbound Segment-->
      <section class="device-card primary" id="dir_out" style="display: none;">
        <div class="device-header">
          <div class="device-title">Outbound</div>
        </div>
        <div class="field-row">
          <div class="field">
            <label for="out_int">Interface</label>
            <input id="out_int" type="text" placeholder="FastEthernet0/0">
          </div>

          <div class="field">
            <label for="out_group">ACL Group</label>
            <input id="out_group" type="text" placeholder="101">
          </div>

        </div>
      </section>



    </div>

    <div class="buttons-row">
      <button class="btn-primary" id="device-btn" type="submit">Configure ACL</button>
    </div>

  </form>

  <!--Results Table-->
  <section class="route-protocols-results">
    <div class="table-wrapper">
      <table class="table">
         <div class="table-header">
          <div class="table-title">Access-Lists Configuration</div>    
        </div>
          <thead>
          <tr>
              <th>No.</th>
              <th>Device</th>
              <th>Access-Lists Brief</th>
             
          </tr>
          </thead>
          <tbody>
          <tr>
              <td></td>
              <td></td>
              <td></td>
             
          </tr>
      
          
        
          </tbody>
      </table>
      </div>
  </section>

</main>

  <!-- JS Scripts -->
  <script src="{{ url_for('static', filename='acl.js') }}"></script>

</body>
</html>
