
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Device Automation</title>


  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"/>
  
  <!-- Main site styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- Table styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
 
  
</head>
<body>


  <aside class="sidebar">
  <div class="logo">Device <span>Automation</span></div>

  <div>
    <div class="menu-label">Session</div>
    <div class="menu">
      <a href="/">
        <div class="menu-item">
        Connect via SSH
        </div>
      </a>
    </div>
  </div>

  <div>
    <div class="menu-label">Tasks</div>
    <div class="menu">

      <a href="/hostname">
        <div class="menu-item active">
          Hostname
        </div>
      </a>

      <a href="/runningConfig">
        <div class="menu-item">Save Run-Config</div>
      </a>
      
      <a href="/startupConfig">
        <div class="menu-item">Save Start-Config</div>
      </a>
      
      <a href="/compareConfigs">
        <div class="menu-item">Startup vs Run Config</div>
      </a>
      
      <a href="/ciscoHardening">
        <div class="menu-item">Cisco Harden vs Run-Config</div>
      </a>

      <a href="/loopback">
        <div class="menu-item">Loopback</div>
      </a>

       <a href="/routeProtocols">
        <div class="menu-item">Routing Protocols</div>
      </a>


      <a href="/ACL">
        <div class="menu-item">ACLs</div>
      </a>

    </div>
  </div>

  <div class="sidebar-footer">
    Session: <span>disconnected</span>
  </div>
</aside>

<main class="content">
  <div class="content-header">
    <div>
      <h2>Configure Hostname</h2>
      <p>Provide hostname you wish to configure on the devices</p>
    </div>
  </div>

   <form method="post" autocomplete="off">
    <div class="devices-wrapper">
      <!-- Device 1 (always visible) -->
      <section class="device-card primary">
        <div class="device-header">
          <div class="device-title">Device 1</div>
          <div class="device-tag">Required</div>
        </div>

    
        <div class="field-row">
          <div class="field">
            <label for="dev1_user">Hostname</label>
            <input id="dev1_user" name="devices[0][hostname]" type="text" placeholder="UD-RT1">
        </div>
        </div>
      </section>

     

      <section class="device-card placeholder">
        <div class="device-header">
          <div class="device-title">Device 2</div>    
        </div>

        <div class="field-row">
          <div class="field">
            <label for="dev2_user">Hostname</label>
            <input id="dev2_user" name="devices[1][hostname]" type="text" placeholder="UD-RT1">
          </div>
        </div>
  
      </section>
    </div>

    <div class="buttons-row">
      <button class="btn-add" type="button">
        <span>+</span>Add another Hostname
      </button>

      <button class="btn-primary" type="submit">Configure Hostname</button>
    
    </div>
  </form>

  <section class="hostname-results">
    <div class="table-wrapper">
      <table class="table">
         <div class="table-header">
          <div class="table-title">Device 2</div>    
        </div>
          <thead>
          <tr>
              <th>Device</th>
              <th>Host IP</th>
              <th>Username</th>
              <th>Configured Hostname</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>1</td>
              <td>192.168.1.3</td>
              <td>cisco</td>
              <td>HR-RT</td>
          </tr>
      
          
          <!-- Repeat rows for VLSM results -->
          </tbody>
      </table>
      </div>
  </section>

</main>

  <!-- ===== JS Scripts ===== -->
  <script src="{{ url_for('static', filename='hostname.js') }}"></script>
 
</body>
</html>
