
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Device Automation</title>


  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"/>
  
  <!-- Main site styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
  
</head>

<body>

  <!-- Sidebar -->
  <aside class="sidebar">
  <div class="logo">Device <span>Automation</span></div>

  <div>
    <div class="menu-label">Session</div>
    <div class="menu">
      <a href="/">
        <div class="menu-item">
        Connect via SSH
        </div>
      </a>
    </div>
  </div>

  <div>
    <div class="menu-label">Tasks</div>
    <div class="menu">

      <a href="/hostname">
        <div class="menu-item">
          Hostname
        </div>
      </a>

      <a href="/runningConfig">
        <div class="menu-item">Save Run-Config</div>
      </a>
      
      <a href="/startupConfig">
        <div class="menu-item">Save Start-Config</div>
      </a>
      
      <a href="/compareConfigs">
        <div class="menu-item">Startup vs Run Config</div>
      </a>
      
      <a href="/ciscoHardening">
        <div class="menu-item">Cisco Harden vs Run-Config</div>
      </a>

      <a href="/loopback">
        <div class="menu-item">Loopback</div>
      </a>

      <a href="/interface">
        <div class="menu-item">Interface Configuration</div>
      </a>

       <a href="/routeProtocols">
        <div class="menu-item active">Routing Protocols</div>
      </a>


      <a href="/ACL">
        <div class="menu-item">ACLs</div>
      </a>

    </div>
  </div>

</aside>

<!-- Main Content -->
<main class="content">
  <div class="content-header">
    <div>
      <h2>Routing Protocols</h2>
      <p>Configure Routing Protocols across all devices</p>
    </div>
  </div>

   <form class="form-panel" autocomplete="off">
    <div class="devices-wrapper">
    
      <section class="device-card primary">
        <div class="device-header">
          <div class="device-title">Protocols</div>
        </div>

        <div class="field-row">
          <div class="field">
    
            <select class="select" name="route_id" id="route_id">
                <option value="">Select a Protocol</option>
                <hr />
                <option value="OSPF">OSPF</option>
                <option value="EIGRP">EIGRP</option> 
                <option value="RIP">RIP</option> 
            </select>
          </div>
        </div>
      </section>
      
      <section class="device-card primary" id="ospf-card" style="display: none;">
        <div class="device-header">
          <div class="device-title">Configure OSPF</div>
          <div class="device-tag"></div>
        </div>

        <div class="field-row">
          <div class="field">
             <label for="ospf_process">Process ID</label>
             <input id="ospf_process" type="text" placeholder="1">
          </div>

           <div class="field">
             <label for="ospf_area">Area</label>
             <input id="ospf_area" type="text" placeholder="0">
          </div>
        </div>

        <div class="field-row">
          <div class="field">
             <label for="ospf_network_ip">Network IP Address</label>
             <input id="ospf_network_ip" type="text" placeholder="192.168.1.0">
          </div>

          <div class="field">
             <label for="ospf_network_mask">Wild Card Mask</label>
             <input id="ospf_network_mask" type="text" placeholder="0.0.0.255">
          </div>
        </div>
      </section>

      <section class="device-card primary" id="eigrp-card" style="display: none;">
        <div class="device-header">
          <div class="device-title">Configure EIGRP</div>
        </div>

        <div class="field-row">
          <div class="field">
             <label for="eigrp_as">AS Number</label>
             <input id="eigrp_as" type="text" placeholder="100">
          </div>
        </div>

        <div class="field-row">
          <div class="field">
             <label for="eigrp_network_ip">Network IP Address</label>
             <input id="eigrp_network_ip" type="text" placeholder="192.168.1.0">
          </div>

          <div class="field">
             <label for="eigrp_network_mask">Wild Card Mask</label>
             <input id="eigrp_network_mask" type="text" placeholder="0.0.0.255">
          </div>
        </div>
      </section>


      <section class="device-card primary" id="rip-card" style="display: none;">
        <div class="device-header">
          <div class="device-title">Configure RIP</div>
        </div>

        <div class="field-row">
          <div class="field">
             <label for="rip_network_ip">Network IP Address</label>
             <input id="rip_network_ip" type="text" placeholder="192.168.1.0">
          </div>

        </div>
      </section>


    </div>

    <div class="buttons-row">
      <button class="btn-primary" id="device-btn" type="submit">Configure Route Protocol</button>
    </div>

   
  </form>

  <!-- Results Table -->
  <section class="route-protocols-results">
    <div class="table-wrapper">
      <table class="table">
         <div class="table-header">
          <div class="table-title">Loopback Configuration</div>    
        </div>
          <thead>
          <tr>
              <th>No.</th>
              <th>Device</th>
              <th>Interface Brief</th>
             
          </tr>
          </thead>
          <tbody>
          <tr>
              <td></td>
              <td></td>
              <td></td>
             
          </tr>
          </tbody>
      </table>
      </div>
  </section>

</main>

  <!--JS Scripts-->
  <script src="{{ url_for('static', filename='route-protocols.js') }}"></script>

</body>
</html>
